/*
 * File: pumpstyle.css
 * Purpose: To provide the styling and page formatting for the Pump Reversibility simulation (pump-reversibility.html)
 * Author: Emily Ehrenberger (April 2012)
 *		   Under the supervision of Margot Vigeant, Bucknell University
 * (c) Margot Vigeant 2012
*/

body {
	font-weight: normal;
}

h1 {
	font-family: "Times New Roman";
	font-weight: bold;
	font-size: 32px;
	color: #000000;
}

/* The Bootstrap question-mark help button */
.glyphicon {
	font-size: 1.5em;
}

/**********Class selectors************/

.container {
	position:relative; /* Must have non-static positioning so other elements can be absolutely positioned relative to the container */
	top:20px;
	margin-left:auto;
	margin-right:auto;
	width:50%;
}

/**********Components of the box for calculation results************/

#resultsLabel {
	position:absolute;
	top:-2px;
	left:106px;
	width:102px;
	text-align:center;
	background-color:#FFFFFF;
}
#resultsDiv {
	position:absolute;
	left:-10;
	top:35px;
	height:135px;
	width:305px;
	padding:10px;
	z-index:-1;
	border-style:solid;
	border-width:thin;
}

#pumpEffLabel {
	position:absolute;
	top:20px;
	width:202px;
	text-align:right;
	font-weight:bold;
}
#pumpEff {
	position:absolute;
	top:20px;
	left:220px;
	font-weight: normal;
}
#pumpWorkLabel {
	position:absolute;
	top:50px;
	width:202px;
	text-align:right;
	font-weight:bold;
	color:#FF0000;
}
#pumpWork {
	position:absolute;
	top:50px;
	left:220px;
	font-weight: normal;
}
#drainWorkLabel {
	position:absolute;
	top:80px;
	width:202px;
	text-align:right;
	font-weight:bold;
	color:#9900CC;
}
#drainWork {
	position:absolute;
	top:80px;
	left:220px;
	font-weight: normal;
}
#powerRecoveryLabel {
	position:absolute;
	top:110px;
	width:202px;
	text-align:right;
	font-weight:bold;
}
#powerRecovery {
	position:absolute;
	top:110px;
	left:220px;
	font-weight: normal;
}


/**********Input components************/

#pumpRateLabel {
	position:absolute;
	top:200px;
	left:100px;
	font-weight:bold;
}
#pumpRate {
	position:absolute;
	top:195px;
	left:185px;
	width:50px;
}
#pumpRateUnits {
	position:absolute;
	top:200px;
	left:250px;
	font-weight: normal;
}
#runButton {
	position:absolute;
	top:245px;
	left:100px;
}
#resetButton {
	position:absolute;
	top:245px;
	left:180px;
	width:65px;
}
#skipButton {
  position:absolute;
  top:280px;
  left:100px;
  width:145px;
}

/**********Picture / animation components************/

#structure {
	position:absolute;
	left: 70px;
	top: 40px;
	width: 475px;
	/*opacity: 0.1;*/
}

#measurement {
	position:absolute;
	left:582px;
}

#tank1Water {
	position:absolute;
	top:338px;
	left:103px;
	z-index:-1;
	visibility: hidden;
}

#volumeLabel {
	position:absolute;
	top:460px;
	left:137px;
	font-weight:bold;
}

#tank2Water {
	position:absolute;
	top:98px;
	left:380px;
	z-index:-1;
	visibility: hidden;
}

#openValve {
	position:absolute;
	top:434px;
	left:303px;
}

#closedValve {
	position:absolute;
	top:437px;
	left:303px;
}

#openSideValve {
	position:absolute;
	top:511px;
	left:437px;
}

#closedSideValve {
	position:absolute;
	top:511px;
	left:442px;
}

#startWater {
	position:absolute;
	left:197px;
	top:424px;
	visibility: hidden;
}

#pumpWater {
	position:absolute;
	left:197px;
	top:102px;
}

#suspendedWater {
	position:absolute;
	left:266px;
	top:103px;
}

#drainWater {
	position:absolute;
	left:266px;
	top:103px;
}

#splash {
	position:absolute;
	top:533px;
	left:350px;
}

#pumpWorkArrow {
	position:absolute;
	left:505px;
	top:375px;
}

#drainWorkArrow {
	position:absolute;
	left:505px;
	top:375px;
}

#pourDiv {
	width:18px;
	height:200px;
}

#liquidFunContainer {
	position: absolute;
	z-index: -2;
}

/**********Program info displayed at bottom of page************/

#about {
	position:absolute;
	top:650px;
	left:55px;
}

#helpButton {
	position:absolute;
	top:650px;
	left:10px;
}

#programInfo {
	position:absolute;
	top:645px;
	left:105px;
	width:570px;
	text-align: left;
}