/*
 * File: steadystatestyle.css
 * Author: Brooke Bullek (June 2017), Daniel Prudente (June 2012)
 *		   Under the supervision of Margot Vigeant, Bucknell University
 * (c) Margot Vigeant 2017
*/

body {
  background-color: #cda26f !important;
}

h1 {
  font-family: "Times New Roman";
  font-weight: bold;
  font-size: 24px; /* Fallback in case viewport width doesn't work */
  color: #000000;
  padding: 1%;
}

.container-fluid, .row, .content {
  width: 100%;
  padding: 0%;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
  height: 100%;
  width: 100%;
}

/* On mobile screens (width < 768px) */
@media screen and (max-width: 1023px) and (orientation: portrait) {
  .row.content {height:400px;}

  /* Positioning/scaling of images when screen is small enough to be "folded" */
  img {min-width: 0px !important;}

  .experiment {
    min-width: 320px !important;
    width: 100% !important;
    left: 0% !important;
  }
}

/*********************************************************************************
 *         Default positioning/scaling of images (Laptop/desktop --> 1024px+)
 ********************************************************************************/

.experiment {
  position: relative;
  left: 30%;
  min-width: 500px;
  width: 40%;
  height: 100%;
  border:1px solid black;
}

#experimentMain {
  position: relative;
  min-width: 500px;
  width: 100%;
  z-index: 2;
}

#buchnerFunnelFront {
  position:absolute;
  min-width: 84.5px;
  width: 15%;
  top: 57%;
  left: 38%;
  z-index: 1;
}
