/*
 * File: steel.css
 * Author: Brooke Bullek (June 2017)
 *         Under the supervision of Margot Vigeant, Bucknell University
 */

/* Images */

img {
  position: absolute;
  opacity: 0;

  /* Prevent user from dragging images around */
  user-drag: none; 
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

/* Make text unselectable to stop accidental highlighting when dragging match */
body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Prevent dragging the screen around on mobile */
.lock-screen {
  height: 100%;
  overflow: hidden;
  width: 100%;
  position: fixed;
}

/* Buttons */

.btn {
  font-size: calc(5px + 0.5vw);
  z-index: 2;
}

.glyphicon {
  font-size: 1.5em;
}

/* Div that holds the buttons */

.main_button_box {
  position: absolute;
  min-width: 120px;
  margin: 0 auto;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.secondary_button_box {
  display: flex;
  flex-shrink: 1;
  margin-top: 3px;
}

.glyph_button_box {
  margin-left: 3px;
  margin-right: 0px;
  flex-direction: row;
  flex-grow: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

#resetBtn {
  flex-grow: 2;
}

#helpBtn {
  margin-right: 3px;
}

#helpBtn, #infoBtn {
  flex-grow: 1;
  flex-shrink: 1;
}

/* Prevent clicking on buttons while they're disabled */
a[disabled] { pointer-events: none; }

/* Slider appearance */

#slider {
  position: absolute;
}

input[type=range] {
  -webkit-appearance: none;
  width: 13%;
  margin: 13.8px 0;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #434d5a;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 32px;
  width: 16px;
  border-radius: 3px;
  background: #CBCBCB;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}

/* Info panel holding density, surface area, time to burn, etc. */

.info {
  position: absolute;
}

.panel-default > .panel-heading-custom {
  background-image: none;
  background-color: #333333;
  color: #ffffff;

}

.table-custom > tbody > tr > td, .table-custom > tbody > tr > th {
  padding: 1%;
  font-size: calc(5px + 0.6vw);
}

.panel-title {
  font-size: calc(6px + 0.7vw);
}

.col-md-3 {
  position: absolute;
}

.panel-body {
  padding-bottom: 0px;
}

/* Transition animations when toggling the help and info boxes */

#help-box, #info-box {
  position: absolute;
  padding: 10px;
  left: 2%;
  width: 25%;
  top: 20%;
  visibility: hidden;
  font-size: calc(5px + 0.5vw);
  z-index: 2;
  opacity: 0;
          transition: 0.6s;
  -webkit-transition: 0.6s;
          transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
}

#help-box.appear, #info-box.appear{
  visibility: visible;
  opacity: 0.8;
          transform: translateX(0);
  -webkit-transform: translateX(0);
}

.padding {
  line-height: 8px;
}

/* On mobile screens (width < 1024px) */

@media screen and (max-width: 1023px) and (orientation: portrait) {
  /* Increase font size when on a smaller screen */
  .table-custom > tbody > tr > td, .table-custom > tbody > tr > th {
    font-size: calc(5px + 1.5vw) !important;
  }

  .panel-title {
    font-size: calc(6px + 1.7vw);
  }

  .btn {
    font-size: calc(5px + 1vw) !important;
  }

  /* Stack buttons vertically on top of one another */
  .secondary_button_box {
    flex-direction: column;
    margin: 0px;
  }

  .glyph_button_box {
    margin: 0px;
  }

  #resetBtn, #helpBtn, #infoBtn {
    margin-right: 0px;
    margin-top: 3px;
  }

  #switchBtn {
    width: 100%;
  }

  #helpBtn {
    margin-right: 3px;
  }

  #helpBtn, #infoBtn {
    width: 49%;
  }
}