/*
 * File: steel.css
 * Author: Brooke Bullek (June 2017)
 *         Under the supervision of Margot Vigeant, Bucknell University
 */

/* Images */

img {
  position: absolute;
  opacity: 0;

  /* Prevent user from dragging images around */
  user-drag: none; 
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

/* Buttons */

#switchBtn {
  position: absolute;
  top: 20%;
  left: 7%;
  font-size: calc(5px + 0.6vw);
  z-index: 2;
}

/* Slider appearance */

input[type=range] {
  -webkit-appearance: none;
  width: 19%;
  margin: 13.8px 0;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #434d5a;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 32px;
  width: 16px;
  border-radius: 3px;
  background: #CBCBCB;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}
